@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-bg: #1F3F66;
  --custom-text: #CE4B55;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-custom-bg: var(--custom-bg);
  --color-custom-text: var(--custom-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
